#root {
  width: 1080px;
  margin-left: auto;
  margin-right:auto ;
}

.ProjectListImg {
  margin: 10px;
}

.ImgWrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Toolbar {
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.btn {
  padding: 7px;
  margin: 5px;
  font-size: 16px;
  color: rgb(70, 57, 57);
}